
<img src="./images/netflix.png" alt="Netflix logotyp">
<h1>Netflix Data Visualization 2021</h1>
<p>Note that the data may be innacurate.</p>
<form>
  <select id="country" title="Choose a country">
  </select>
</form>

<canvas id="myChartCountry"></canvas>


<canvas id="myChartRating"></canvas>





 
